.about-us {
  display: flex;
  max-width: 100vw;
  

  .about-us__content {
    align-items: center;
    background: $color-bg-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:51vw;
    .decor_wrapper {
      display: grid;
      padding-bottom: 30px;
      padding-top:60px;
      place-items: center;
      row-gap: 25px;
    
     
    .h4 {
      font-size: 2.375rem;
      font-weight: 400;
      margin: 0 auto;
      z-index:11;
      @media screen and (max-width:1024px) {
        font-size:1.9rem;
        
      }
  
      @media screen and (max-width:752px) {
        font-size:1.5rem;
  
      }
  
    }
  }
  .decor {
   margin:0 auto;
   width:300px;
    z-index:11;
    @media screen and (max-width:1024px) {
      width:190px;
      width:30vw;

    }
    @media screen and (max-width:752px) {
    width:170px;
    width:40vw;
    }
  }
    @media screen and (max-width:752px) {
      width:100vw;
    }
    
  }
    .content__text {
      font-size: 1.2rem;
      line-height: 1.9rem;
      margin: 0 auto;
      padding-bottom: 30px;
      text-align: center;
      width:25vw;
      @media screen and (max-width:1024px) {
        width:30vw;
      
      }
      @media screen and (max-width:752px) {
        width:40vw;
      }
    }
    .signature {
      transform:scale(0.85);
      @media screen and (max-width:1024px) {
      transform:scale(0.7);
      }
      @media screen and (max-width:752px) {
        transform:scale(0.8);
      }
    }
  @media screen and (max-width:752px) {
    align-items:center;
    flex: row;
    flex-wrap: wrap;
  }
    }
  
  


  .about-us__image {
    bottom: 0;
    height: auto;
    max-width:49vw;
    object-fit: cover;
    width: 49vw;
    width: 100%;
    @media screen and (max-width:1024psx) {
      width:100vw;
    }
    @media screen and (max-width:752px) {
      height: 100%;
      max-width:100vw;
      width:100vw;
    }
  }
