
.contact {
  background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 253, 253, 0.7)),url("/assets/Background-Contact-Form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  
}

.contact__form {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  width: 50vw;

  .decor_wrapper {
    display: grid;
    padding-bottom: 30px;
    place-items: center;
    row-gap: 25px;
  
   
  .contact_header {
    font-size: 2.375rem;
    font-weight: 400;
    margin: 0 auto;
    z-index:11;
    @media screen and (max-width:1024px) {
      font-size:1.8rem;

    }

    @media screen and (max-width:752px) {
      font-size:1.5rem;

    }

  }
}
.decor {
 margin:0 auto;
 width:300px;
  z-index:11;
  @media screen and (max-width:1024px) {
    width:250px;
  }
  @media screen and (max-width:752px) {
  width:170px;

  }
}

  form {
    color:#1A1818;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-self: left;
    //margin-left:40vw;
    width: 40vw;
    @media screen and (max-width:752px) {
      justify-self: center;
      width:51vw;
    }

  }

  input,
  textarea {
    border: none;
    border-bottom:1px solid #707070;
    font-family: $font-base;
    font-size: 0.9rem;
    font-weight: 400;

    &::placeholder {
      color: $color-font-primary;
      font-family: $font-base;
      font-size: 0.9rem;
      font-weight: 300;
    }
  }

  textarea, input {
    background: none;
    padding-bottom: 7px;
    resize: none;
  }

  .inputs__container,
  .textarea__container,
  .form__field {
    display: flex;
    gap: 16px;
  }

  .inputs__container {
    justify-content: space-between;
  }

  .form__field {
    flex-direction: column;
    flex-direction: column;
    width: 25vw;
    
    
  }

  .textarea__container {
    flex-direction: column;
    
    @media screen and (max-width:752px) {
    width:51vw;
    }
  }

  button {
    align-self: flex-end;
    background: none;
    border:1px solid #707070;
    color: $color-font-primary;
    font-size:1.5rem;
    margin-bottom:270px;
    padding:13px 53px;
    text-align: center;
    transition: 0.2s;
    &:hover {
      transform: scale(1.05);
      
    }
    @media screen and (max-width:1024px) {
      margin: 0 auto;
    }
    @media screen and (max-width:752px) {
      margin: 0 auto;
    }
   
  } 
}


.contact__footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 10px;
  width: 100%;

  small {
    font-size: 0.88rem;
    margin: 0 auto;
    padding-bottom:60px;
    padding-top:60px;
  }

  .footer__social {
    display: flex;
    gap: 10px;
    margin-right: 10px;

    * {
      width: 35px;
    }
  }
  @media screen and (max-width:752px) {
    padding-right:50px;
    padding-top:60px;
    width:100vw;
  }
}