 //@import "../settings/colors";

#howItWorks {
  margin-bottom:60px;
  padding: 50px 0;

}
.decor_wrapper {
  display: grid;
  padding-bottom: 30px;
  padding-top:60px;
  place-items: center;
  row-gap: 25px;

 
.h4 {
  font-size: 2.375rem;
  font-weight: 400;
  margin: 0 auto;
  z-index:11;
  @media screen and (max-width:1024px) {
    font-size:1.8rem;

  }

  @media screen and (max-width:752px) {
    font-size:1.5rem;

  }

}
}
.decor {
margin:0 auto;
width:300px;
z-index:11;
@media screen and (max-width:1024px) {
  width:250px;
}
@media screen and (max-width:752px) {
width:170px;

}
}

.about-app {
  background-color: $color-bg-primary;
  width: 100vw;

  .about-app__container {
    background-color:#3C3C3C26 ;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
    @media screen and (max-width:752px) {
      align-items: center;
      flex-direction: column;
      height:100%;
      margin-top:100px;
      object-fit: scale-down;
      width:100vw;
    }
  }

  .about-app__content {
    color: $color-font-primary;
    column-gap: 100px;
    display: grid;
    padding: 50px 30px;
    place-items: center;
    row-gap: 38px;
    text-align: center;
    width: 20%;

    h3 {
      display: inline-block;
      font-size: 1.1rem;
      font-weight: 400;
      height: 20%;
    }

    span:before {
      border:0.75px solid #707070;
      content: "";
      display: block;
      height: 0px;
      justify-content: baseline;
      margin: 0 auto 20px auto;
      width: 70px;
    }
    @media screen and (max-width:752px) {
      align-items:center;
      flex: row;
      flex-wrap: wrap;
      width:40%;
    }
  }
}

#howItWorks .button__container {
  display: grid;
  place-items: center;
  a {
    text-decoration: none;
  }
  .btn {
    color:$color-font-primary;
    display:block;
    margin-top: 30px;
    transition:0.2s;
    &:hover {
      transform: scale(1.03);
    }
  }
}