.about-us {
  display: flex;

  .about-us__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $color-bg-primary;
    padding: 0 150px;

    .content__text {
      font-size: 1.2rem;
      line-height: 1.9rem;
      text-align: center;
      margin-bottom: 30px;
    }

    img {
      align-self: flex-end;
    }
  }


  .about-us__imgage {
    width: 50vw;
  }
}