.header_home {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 720px;
  justify-content: flex-end;
  margin-right: 150px;
  width:100vw;

  .hero_img {
    bottom: 0;
    height: auto;
    left: -280px;
    max-width: 900px;
    min-width: 49vw;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index:1;

    @media screen and (max-width:1024px) {
      opacity:0.4;
      width: 100vw;
    }

    @media screen and (max-width:752px) {
      margin-top: -40px;
      opacity:0.6;
      position: static;
      width: 100vw;
    } 
  }

  .content_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 150px;
    max-width: 51vw;
    width: 100%;

    @media screen and (max-width:752px) {
      gap: 0;
      height: auto;
      margin-top: 80px;
      max-width: initial;
      text-align: center;
      width: 100%;
    }
  }

  .decor_wrapper {
    display: grid;
    margin-right:150px;
    padding-bottom: 30px;
    place-items: center;
    row-gap: 25px;

    @media screen and (max-width:752px) {
      margin: 0 auto;
      padding: 30px;
    }
  }
   
  .hero_title {
    font-size: 2.375rem;
    font-weight: 400;
    margin: 0 auto;
    z-index:11;
    @media screen and (max-width:1024px) {
      font-size:1.8rem;
    }

    @media screen and (max-width:752px) {
      font-size:1.5rem;

    }

  }

  @media screen and (max-width: 752px) { 
    flex-direction: column-reverse;
    height: auto;
    justify-content: flex-start;
  }
}

.decor {
  margin:0 auto;
  width:300px;
  z-index:11;

  @media screen and (max-width:1024px) {
    width:250px;
  }

  @media screen and (max-width:752px) {
  width:170px;

  }
}

.bigButtons {
  display:flex;
  justify-content: space-around;  
  margin-right:180px;
  z-index:10;

  @media screen and (max-width:752px) {
    justify-content: center; 
    margin-right: 0;
    width: 100%; 
  }
}

.btn {
  border: 0.75px solid #878585;
  display: block;
  font-size:2rem;
  font-weight: 300;
  margin-left:40px;
  padding: 0.6em 0.9em ;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
  width:19rem;
  &:hover{
    transform: scale(1.03);
  }
  @media screen and (max-width:1024px) {
   font-size:1.4rem;
   margin-left:45px;
   width:10rem;
  }
  @media screen and (max-width:752px) {
    display:inline-block;
    font-size:1.4rem;
    margin-left: 0;
    margin-top: 0;
    width:10rem;

    & + & {
      margin-left: 20px;
    }
  }
}