.logout {
  display: grid;
  padding: 100px;
  place-items: center;
h5 {
  color:#3C3C3C;
  font-size:2.5rem;
}
a{
text-decoration: none;
}
}
.log__success {
  font-weight: 600;
  margin-bottom: 15px;
  padding: 10px;
}
.log__error {
   color: rgb(130, 22, 43);
  font-size: 0.7rem;
  font-weight: 600;
  margin-top:3px;
}



.log_button {
border: 1px solid transparent;
color:#3C3C3C;
margin-top:40px;
padding:13px 18px;
transition: 0.2s;
&:hover {
  border: 1px solid #3C3C3C;
  transform:scale(1.05);
}
}