$color-bg-primary: #fff;
$color-bg-secondary: #f0f1f1;
$color-bg-signin: #f0f1f1;
$color-bg-form: #eeedeb;

$color-font-primary: #3c3c3c;
$color-font-secondary: #737373;
$color-font-tertiary: #5e5322;

$color-accent: #fad648;
$color-accent-error: red;
$color-accent-success: green;