@import "./settings/fonts";
@import "./settings/colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $color-font-primary;
  font-family: $font-base;
  max-width:100vw;
  min-width: 320px;
}

.app {
  position: relative;
}

.wrapper {
  margin: 0 auto;
  max-width: 1616px;
  width: 90%;
}

a,
button {
  color: initial;
  font-family: $font-base;
}

.uppercase {
  text-transform: uppercase;
}